.left-menu-container {
    width: var(--left-menu);
    height: 100vh;
    background: #77747433;
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
}

i {
    margin-right: 10px;
}